.margin-sm {
  margin: 5px;
}

.margin {
  margin: 20px;
}

.button-sm {
  padding: 0 10px !important;
}

.pad-sides-sm {
  padding: 0 8px !important;
}

#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;
}

#closeInstructionDiv {
  margin-top: 20px;
  font-size: 2rem;
  /* vertical-align: center; */
}

.missionDiv {
  margin-top: 20px;
  text-align: center;
}

.mouthImg {
  width: 100%;
  margin-top: 20px;
}

.mouthInstructionDiv {
  font-size: 2rem;
  text-align: center;
}

.successDiv {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
}

#adviceDiv {
  font-size: 2rem;
  text-align: center;
}